/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.btnSpace
{
    margin-right: 5px;
    margin-top: 10px;
}
.logo-title {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: #112fb4;
    margin: auto;
    text-decoration: none;
    margin: 10px 10px 0px 10px;    
}
.middleText{
    font-family: 'Marck Script', cursive;
    margin: 0 0 0px 10px;
}